@model FIT5032_Assignment.Models.Booking

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BookingDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BookingDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoctorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoctorName)
        </dd>
        @if (User.IsInRole("admin"))
        {
            <dt>
                @Html.DisplayNameFor(model => model.AspNetUsers.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AspNetUsers.Email)
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookingId }, new { @class = "btn btn-primary create-booking-btn" }) |
    @Html.ActionLink("Back to List", "Index", new { @class = "btn btn-primary" })
</p>
@section scripts{


    @if (User.IsInRole("doctor"))
    {
        <script>
            $(document).ready(function () {
                $('.create-booking-btn').click(function (e) {
                    e.preventDefault();
                    $.notify("Doctor cannot create edit or delete booking", "error");
                });
            });
        </script>
    }
}
