@model FIT5032_Assignment.Models.Rating

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Rating</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.Score, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Score, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Score, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AspNetUsersIdDoctor, "Doctor", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("AspNetUsersIdDoctor", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.AspNetUsersIdDoctor, "", new { @class = "text-danger" })
        </div>
    </div>
    @if (User.IsInRole("admin"))
    {
        <div class="form-group">
            @Html.LabelFor(model => model.AspNetUsersIdPatient, "Patient", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AspNetUsersIdPatient", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AspNetUsersIdPatient, "", new { @class = "text-danger" })
            </div>
        </div>
    }
    <br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index", new {@class="btn btn-primary"})
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")

        @*<script>
            $(document).ready(function () {
                $("form").submit(function (e) {
                    var score = $("#Score").val();
                    var scoreError = $("#scoreError");

                    // 清空并隐藏错误消息
                    scoreError.text("").hide();

                    if (!$.isNumeric(score) || score < 1 || score > 5) {
                        e.preventDefault(); // Prevent the form from submitting
                        scoreError.text("Please enter a valid score between 1 and 5.").show();
                    }
                });
            });
        </script>*@
    }
